
<div class="row">
  <div class="col-md-8">
    <%= form_for [ @post, @new_comment ] do |f| %>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_field :body, class: 'form-control', placeholder: "Enter comment." %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
   </div>
</div>
