<div class="container">
  <h1>TrailFinder</h1>
  <p>Find Trails. Post Trails. Run Trails.</p>
</div>

<div class="row">
  <div class="col-md-8">
    <%= image_tag("jenny2.jpg", :class => "style-image", size: '200') %>
    <h2>Powered by Runners.</h2>
    <p>TrailRunFinder was created by Jenny Crawshaw. Jenny is passionate about getting every runner to hit the trails. An RRCA running coach, Newton Natural Running Form coach, and Certified Personal Trainer, you can usually find her leading the way in Florida with her local trail running group: </p>
    <%= link_to "Trinity Trail Runners", 'http://trinitytrailrunners.com' %>
    <p>Want to help get more runners on the trails? Have any questions? Contact yeti@trailrunfinder.com</p>
  </div>
</div>
