@import "bootswatch/sandstone/variables";


@import "bootstrap";


@import "bootswatch/sandstone/bootswatch";

.navbar-brand a {
  color: #6b9430;

}

.navbar-brand a:hover {
  color: white;
}

.navbar-right {
  margin: 15px;
}

.navbar-right a {
  color: #6b9430;
}

.navbar-right a:hover {
  color: white;
}


.jumbotron {
  color: white;
  background-image: image-url('foresttrail.jpg');
  background-size: cover;
  
}

@media (max-width: 767px) {
  .jumbotron {
    display: none;
  }
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px, 0, 1px, 8px;

  position: relative;
  left: -4em;
  top: -3em;
  }

.sub-header {
  text-align: center;
}

.style-image {
  display: block;
  margin-left: 2em;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.favorite {
  margin-top: 20px;
}

.image {
  border: 10px solid #f8f5f0;
  margin-top: 2em;
  
}